
    body,

    ::after,
    ::before {
      box-sizing: border-box;
    }

    .card-text {
      font-size: 1rem;
    }

    .action {
      font-size: 0.8rem;
    }
    
    .cardimg{
      width: 18rem;
      height: 15rem;
      margin: 10px 20px 10px 10px;
      border-radius: 15px;
    }

    .pho,
    .recommend {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-right: 10px;
      margin-right: 10px;
      overflow-y: hidden;
      overflow-x: auto;
    }

    .img {
      width: 13rem;
      height: 13rem;
      margin: 10px;
      border-radius: 15px;
      box-shadow: 15px 15px #d6d2d2;
    }

    .reimg {
      width: 7rem;
      height: 7rem;
      margin: 10px;
      border-radius: 5px;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      bottom: 0%;
      width: 100%;
      padding: 10px;
      font-size: 1.5rem;
      z-index: 2;
      background: white;
      position: fixed;
    }

    .container {
      padding-bottom: 4rem;
    }

    .addimg {
      border-radius: 10px;
      width: 6rem;
      height: 6rem;
      margin: 1rem 0 1rem 0;
    }

    .recently-added {
      background-color: #548CFF;
      padding: 15px;
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .shopshowcase{
      display: flex;
      flex-direction: row;
      overflow-y: hidden;
      overflow-x: auto;
    }
    .toshopmore{
      background: darkgray;padding: 0 20px;text-decoration: none;
    }
    .more-text{
      position:relative;top: 50%;transform: translateY(-50%);
    }
    .toShopButton{
      text-align: center; padding: 20px;
    }

    .offcanvas-end {
      padding-bottom: 1.5rem;
    }
    

    .addspan {
      display: block;
      font-size: 0.7rem;
    }

    .shop {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-right: 10px;
      margin-right: 10px;
    }

    .shopicon {
      width: 5rem;
      height: 5rem;
      margin: 10px;
      padding: 0.2rem;
      border: 1px solid rgb(247, 154, 15);
      border-radius: 10px;
    }